$fixedProjectCardBg: var(--vscode-tab-inactiveBackground);
$fixedForeground: var(--vscode-editor-foreground);

$columnWidth: 350px;
$borderTopSize: 7px;
$defaultPadding: 20px;
$projectHeaderSize: 40px; // This has also be adjusted in constants.ts for fitty
$projectHeaderMinHeight: 53px; // To be constant even with fitted font size

.projects-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.project-container {
    display: inline-block;
    width: $columnWidth;
}

body .project {
    cursor: pointer;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: $defaultPadding $defaultPadding 0 0;

    padding: $defaultPadding;

    .fitty-container {
        max-width: 100%;
        min-height: $projectHeaderMinHeight;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .project-header {
        margin: 0;
        font-size: $projectHeaderSize;
        font-weight: lighter;
        text-align: center;
    }

    .add-project-header {
        @extend .project-header;
        font-size: 60px;
    }

    &.add-project {
        min-height: 102px;
        border-top: 0;
        background: none;
        font-size: 1.5em;
        opacity: 0.6;
    }

    .project-path {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 100%;
        direction: rtl;
    }
}

@mixin themedStyles($foreground, $projectCardBg){
    .project {
        background-color: $fixedProjectCardBg;
        border-top: $borderTopSize solid $projectCardBg;
    
        .project-header {

        }

        .project-path {
            color: var(--vscode-descriptionForeground);
        }
    }
}

.vscode-light {
    @include themedStyles($fixedForeground, $fixedProjectCardBg);
}

.vscode-dark {
    @include themedStyles($fixedForeground, $fixedProjectCardBg);
}

.vscode-high-contrast {
    @include themedStyles($fixedForeground, $fixedProjectCardBg);
} 






