:root {
  --dashboard-project-card-bg: var(--vscode-tab-inactiveBackground);
  --dashboard-foreground: var(--vscode-editor-foreground);
  --dashboard-path: var(--vscode-descriptionForeground); }

.projects-group {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start; }

.projects-group:hover .add-project, .projects-group-title:hover + .projects-group .add-project {
  opacity: 0.6; }

.project-container {
  display: inline-block;
  width: 350px; }
  .project-container.slim {
    width: 175px; }

.projects-group-title {
  width: 100%;
  font-size: 20px;
  font-weight: 200;
  margin-top: 30px;
  margin-left: 0px;
  margin-bottom: -10px; }
  .projects-group-title:first-child {
    margin-top: 10px; }

body .project {
  cursor: pointer;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 20px 0 0;
  padding: 20px;
  background-color: var(--dashboard-project-card-bg);
  border-top: 7px solid var(--dashboard-project-card-bg); }
  body .project .fitty-container {
    max-width: 100%;
    min-height: 53px;
    display: flex;
    justify-content: center;
    align-items: center; }
  body .project .project-header, body .project .add-project-header {
    color: var(--dashboard-foreground);
    margin: 0;
    font-size: 40px;
    font-weight: lighter;
    text-align: center; }
  body .project .add-project-header {
    font-size: 60px; }
  body .project .project-path {
    color: var(--dashboard-path);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    direction: rtl; }
  body .project.add-project, body .project.no-projects {
    min-height: 102px;
    border-top: 0;
    background: none;
    font-size: 1.5em;
    opacity: 0;
    transition: opacity ease-in-out 100ms; }
    body .project.add-project:hover, body .project.no-projects:hover {
      opacity: 1; }
