$fixedProjectCardBg: var(--vscode-tab-inactiveBackground);
$fixedForeground: var(--vscode-editor-foreground);

$columnWidth: 25em;
$borderTopSize: 7px;
$defaultPadding: 20px;

.projects-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.project-container {
    display: inline-block;
    width: $columnWidth;
}

body .project {
    cursor: pointer;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: $defaultPadding $defaultPadding 0 0;

    padding: $defaultPadding;

    .project-header {
        margin: 0;
        font-size: 3em;
        font-weight: lighter;
    }

    &.add-project {
        min-height: 102px;
        border-top: 0;
        background: none;
        font-size: 1.5em;
        opacity: 0.6;
    }
}

@mixin themedStyles($foreground, $projectCardBg){
    .project {

        background-color: $fixedProjectCardBg;

        border-top: $borderTopSize solid $projectCardBg;
    
        .project-header {

        }

        .project-path {
            color: var(--vscode-descriptionForeground);
        }
    }
}

.vscode-light {
    @include themedStyles($fixedForeground, $fixedProjectCardBg);
}

.vscode-dark {
    @include themedStyles($fixedForeground, $fixedProjectCardBg);
}

.vscode-high-contrast {
    @include themedStyles($fixedForeground, $fixedProjectCardBg);
} 






