.projects-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start; }

.project-container {
  display: inline-block;
  width: 25em; }

body .project {
  cursor: pointer;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 20px 0 0;
  padding: 20px; }
  body .project .project-header {
    margin: 0;
    font-size: 3em;
    font-weight: lighter; }
  body .project.add-project {
    min-height: 102px;
    border-top: 0;
    background: none;
    font-size: 1.5em;
    opacity: 0.6; }

.vscode-light .project {
  background-color: var(--vscode-tab-inactiveBackground);
  border-top: 7px solid var(--vscode-tab-inactiveBackground); }
  .vscode-light .project .project-path {
    color: var(--vscode-descriptionForeground); }

.vscode-dark .project {
  background-color: var(--vscode-tab-inactiveBackground);
  border-top: 7px solid var(--vscode-tab-inactiveBackground); }
  .vscode-dark .project .project-path {
    color: var(--vscode-descriptionForeground); }

.vscode-high-contrast .project {
  background-color: var(--vscode-tab-inactiveBackground);
  border-top: 7px solid var(--vscode-tab-inactiveBackground); }
  .vscode-high-contrast .project .project-path {
    color: var(--vscode-descriptionForeground); }
